{
  "include": ["dist"],
  "exclude": ["dist/__tests__/",
   "dist/index.js",
    "dist/controllers/user.controller.js",
    "dist/application.js",
    "dist/sequence.js",
    "dist/controllers/websocket-chat.controller.js",
    "dist/controllers/message.controller.js",
    "dist/controllers/product-like.controller.js",
    "dist/controllers/product-comment.controller.js",
    "dist/models/product-like.model.js",
    "dist/models/product-comments.model.js",
    "dist/repositories/product-like.repository.js",
    "dist/repositories/product-comments.repository.js",
    "dist/repositories/passport-config.controller.js",
    "dist/providers/**"
  ],
  "extension": [".js", ".ts"],
  "reporter": ["text", "html"],
  "exclude-after-remap": false
}
