{
  "include": ["dist"],
  "exclude": ["dist/__tests__/",
   "dist/index.js",
    "dist/controllers/user.controller.js",
    "dist/application.js",
    "dist/sequence.js",
    "dist/controllers/websocket-chat.controller.js",
    "dist/controllers/message.controller.js",
    "dist/controllers/product-likes.controller.js",
    "dist/controllers/product-comment.controller.js"
  ],
  "extension": [".js", ".ts"],
  "reporter": ["text", "html"],
  "exclude-after-remap": false
}
